@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo h1 span{
 
 color: #ffff;
}
.logo{
 font-weight: bold;
 font-size: 20px;

}
.navbar{
    width: 100%;
    color: #f9004d;
    background-color: #000000;
    height: 70px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-right: 10px;
    list-style: none;

}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    }
.navbar .button a{
 list-style: none;
color: #ffff;
 padding: 6px 12px;
 font-size: 18px;
 text-decoration: none;

}
.navbar .button2 a{
    color: black;
    list-style: none;
    text-decoration: none;
    list-style: none;
    background-color: #ffff;
    color: #456d96;
    padding: 6px 12px;
    font-size: 18px;   
}
.navbar a{
    list-style: none;
}
.navbar .button2 a:hover{
    color: #f9004d;

}
.navbar .button a:hover{
    color: #f9004d;

}
.navbar ul li a:hover{
    color: #f9004d;
}
/* end-menu */
.title1{
    width: 100%;
    height: 450px;
    background-color: #191919ea;
    
}

.name-page{
    font-weight: bold;
    font-size: 45px;
    color: #ffff;
    padding-top: 10%;
    padding-left: 10%;
}
span{
    color: #f9004d;
}
.name-page h4{

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}

.name-page p{
    font-size: 20px;
    color: rgba(255, 250, 250, 0.692)
}
/* end-name-page */
/* start-course */
.title3{
    width: 100%;
    height: 100px;
    background-color: #ffff;
}
.title3 span{
    color: #f9004d;
}
.title3 p{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 37px;
    text-transform: uppercase;
}
.title3 span{
    color:#f9004d;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 37px;
    text-transform: uppercase;
}
.title2{
    width: 100%;
    height: 100px;
    background-color: #191919;
}
.title2 p{
    color: #ffff;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 37px;
}
.title3 h2{
    color: #ffff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #ff0000;
    top: 10px;
}
.title2 span{
    color:#f9004d;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 37px;
}
/* End-course */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 25px;
    background-color: #191919;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    line-height: 27px;
    font-size: 16px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold ;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .45;
}
.card .button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f9004d
}
/* About */
.About{
    font-family: sans-serif;
    width: 100px 0px;
    background-color: #191919;
}
.About img{
    height: auto;
    width: 300px;
    height: 370px;
    
}
.About-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: o auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.About-text h2{
    color: aliceblue;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.About-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;

}
.About-text h5 span{
    color: #f9004d;
}
.About-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}
button{
    background-color: #f9004d;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold ;
    padding: 10px 20px;
    border-radius: 35px;
    transition: transform .45;
}
button:hover{
    color:white;
    background-color: transparent;
    border: 2px solid #f9004d;

}
/* footer */
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p span{
    color: #f9004d;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    color: white;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
   color: white;
    bottom: 35px;
    font-size: 14px;
}
/* Contact */
.body1{
    width: 100% auto;
    height: auto;
    background: #191919;
    font-size: 14px;
}
.container-1{
    width: 80%;
    margin: 50px auto;
    color: #ccc;
}
.conatc-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
    background: #f9004d;
    color:#ffff;
}
h1{
    margin-bottom: 10px;
}
.container-1 p{
    margin-bottom: 30px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 1px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
.contact-right h3{
    color: #ffffff;
    font-weight: 600px;
    margin-bottom: 30px;
    font-size: 30px;
}
tr td:first-child{
padding-right: 20px;
color: #ccc;
}
/* Register-page */

.Register-form{
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #191919;
    width: 500px;
    height: 665px;
    text-align: center;
    border-radius: 20px;
}
.form-r input{
    padding: 10px;
    
}
.form-r{
    padding: 10px;
    
}
.Register-form h1{
    color: #ffff;
    font-size: 40px;
    text-align: center;
    margin: 40px 0;


}
.Register-form span{
    color: #f9004d;
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}
.Register-form p{
   font-size: 20px;
   margin: 5px;
   color: #ffffff;
}
.Register-form input{
   font-size: 16px;
   padding: 10px 10px;
   width: 100%;
   border: 0;
   border-radius: 5px;
   outline: none;
}
 .btn3 a{
  text-decoration: none;
  color: #ffffff;
}
.looo1 p{
    color: #ffffff;
    font-size: small;
}
.looo1 a{
    color: red;
    text-decoration: none;
}

/* Login-form */

.login-bg{
    background-color:#000000;
    opacity: 0.9;
    outline: #f9004d; 
}
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #191919;
    width: 300px;
    height: 380px;
    text-align: center;
    border-radius: 20px;
}
.login-form h1{
    color: #ffffff;
}
.login-form p{
    font-size: 20px;
    margin: 5px;
    color: #ffffff;
}
.input{
    width: 100%;

}
/* Our-Team */
.body{
    background-color: #eee;
    font-family:"cuntury Gothic";
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qoral{
    text-align: center;
    text-transform: capitalize;
    color: #726a95;
    margin: 10px 0;
    position: relative;
}
.qoral::after{
    content: "";
    position: absolute;
    width: 20%; 
    height:2px;
    background-image: linear-gradient(to left,transparent 5%, #726a95);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.member{
flex: 1 1 25px;
margin: 20px;
text-align: center;
padding: 20px 10px;
max-width: 300px;
transition: all 0.3s;
}
.member:hover{
    box-shadow: 0 10px 20px rgb(0, 0,1);
    transform: translateY(-20px)

}
.member img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #726a95;
    border-radius: 10%;
}
.member h2{
text-transform: uppercase;
font-size: 24px;
color: #726a95;
margin: 15px 0px;
}
.member p{
font-size: 15px;
color: #838383;
line-height: 1.6;
}
.member span{
color: #ff004d;
font-size: 20px;
font-weight: bold;
}